/* .flexItem will apply to all elements with a class of flexItem */
.flexItem {
  padding: 30px;
  border: 1px solid red;
  /* You may need to add some more properties...*/
}

/* 
a) Position the three divs side by side on the same line
*/
.flexContainerA {
  /* Your code here */
  display: flex;
}

/* 
b) Position each div on a new line
*/
.flexContainerB {
  /* Your code here */
  display: flex;
  flex-direction: column;
}

/* 
c) Position each div on a new line and have them all in the center
*/

.flexContainerC {
  /* Your code here */
  display: flex;
  justify-content: center;
}

/* 
d) Copy-paste a huge amount of text into just one div and see
what happens. How can you solve this? (Use https://css-
tricks.com/snippets/css/a-guide-to-flexbox/ for help!) 
*/
