body {
  font-family: sans-serif;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}

input,
label {
  margin: 5px 0;
}

input {
  padding: 10px;
}

.submit:hover {
  background: grey;
  color: white;
}
